<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.environment</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>{% for var, path in env_vars_macos.items() %}launchctl setenv {{ var }} "{{ path }}"; {% endfor %}{% for var, value in extra_env_vars.items() %}launchctl setenv {{ var }} "{{ value }}"; {% endfor %}launchctl setenv PATH {{ (extra_path_dirs + extra_path_dirs_macos) | join(':') }}:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
